<footer class="text-bg-dark" style="min-height: 400px;">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p>版权所有 &copy; 戏戏的博客</p>
            </div>
            <div class="col-4">
                <p>版权所有 &copy; 戏戏的博客</p>
            </div>
            <div class="col-4">
                <p>版权所有 &copy; 戏戏的博客</p>
            </div>
        </div>
    </div>

</footer>
<script src="../../public/js/bootstrap.js"></script>