<div class="row mt-5">
    <div class="col-4 m-auto card">
        <div class="bg-success-subtle text-center card-body">
            <div>
                <img src="https://buhaoqi.com/assets/logo.svg" alt="">
            </div>
            <p>新用户注册 | 登录</p>
            <div class="d-grid gap-2">
                <a href="/users/register" class="btn btn-primary btn-block">注册</a>
                <a href="/users/login" class="btn btn-secondary btn-block">登录</a>
            </div>
        </div>
    </div>
</div>